<!-- ******HEADER****** -->
<header class="header">
  <div class="container">
    <img
      class="profile-image img-responsive pull-left"
      src="assets/images/profile.jpg"
      alt="James Lee"
      style="width: 180px"
    />

    <div class="profile-content pull-right">
      <!-- <h1 class="name">sunny gupta </h1>
            <h2 class="desc">Front-end Developer</h2> -->

      <h2 class="name">
        Hi! I'm Sunny, a front-end developer in Delhi, India.
      </h2>
      I am passionate about web design and providing engaging user experiences.

      <ul class="social list-inline" style="margin-top: 10px">
        <li>
          <a href="https://twitter.com/Sunny_g001" target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
        </li>
        <li>
          <a
            href="https://stackoverflow.com/users/10336767/sunny-gupta"
            target="_blank"
            ><i class="fa fa-stack-overflow"></i
          ></a>
        </li>
        <li>
          <a href="https://medium.com/@sunnyvales789" target="_blank"
            ><i class="fa fa-medium"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sunnygupta001/" target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/sunny7899" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.quora.com/profile/Sunny-Gupta-208"
            target="_blank"
            class="last-item"
            ><i class="fa fa-quora"></i
          ></a>
        </li>
      </ul>
    </div>
    <!--//profile-->
    <!-- <a class="btn btn-cta-primary pull-right" href="https://goo.gl/maps/1Zx8TYSmi312" target="_blank"><i class="fa fa-paper-plane"></i>I
            am also a local guide</a> -->
    <!-- <div class="setfbpage">
            <div>
                <img src="../../assets/insta.png" alt="" class="setsizeimg">
            </div>
            <div>
                <img src="../../assets/angpage.PNG" alt="" class="setsizeimg">

                <div>
                    <div class="fb-share-button" data-href="https://www.facebook.com/learnangular2plus/" data-layout="button_count">
                    </div>
                    <div class="fb-like" data-href="https://www.facebook.com/learnangular2plus/" data-layout="standard"
                        data-action="like" data-show-faces="true">
                    </div>
                </div>
            </div>
        </div> -->
  </div>
  <!--//container-->
</header>
<!--//header-->

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>
              I am a Software developer having experience in multiple
              technologies like Angular 2+, HTML, CSS, JS, Agile Software
              Development, Node.js, Github also has some experience in designing
              tools to make wireframes, designing database and website
              prototypes. I like to write code and learning new technologies. In
              my free time, I like to write blogs on things that I experienced
              and learn while doing work I have a thorough knowledge and
              understanding of advanced development methodologies. I like to
              create things that make life easier and that are simple and
              effective. I have worked in various tech stack as a front end
              developer, I have the pleasure of working in exciting projects
              across industries, tackling mandates such as API Integrations, web
              development among others. In the process, I have gained extensive
              knowledge of the different technology stacks, as well as the best
              practices required to craft scalable and standards-compliant code.
            </p>

            <p>
              I am a software developer having a 3 year experience in front end
              Development.
            </p>
            <h3>
              My strengths are team player, focused and responsible towards my
              duties.
            </h3>
            <h3>
              And also am able to provide meaningful contributions in the UI
              design and testing and maintenance of different web applications.
            </h3>

            <p>In the projects, i worked on different modules like</p>
            <ul class="list-unstyled" style="text-transform: capitalize">
              <li>
                <i class="fa fa-spinner"></i> generating reports. Generate PDF
                Using JSPDF Library
              </li>
              <li><i class="fa fa-spinner"></i> document file upload.</li>
              <li><i class="fa fa-spinner"></i> session management.</li>
              <li>
                <i class="fa fa-spinner"></i> admin section to create users,
                give permission, uploading important documents.
              </li>
              <li><i class="fa fa-spinner"></i> rich text editor</li>
              <li>
                <i class="fa fa-spinner"></i>uploading various images at a time.
              </li>
              <li>
                <i class="fa fa-spinner"></i> various types of calculations
              </li>
              <li>
                <i class="fa fa-spinner"></i> linter to make code readable
              </li>
              <li><i class="fa fa-spinner"></i> API calls</li>
              <li><i class="fa fa-spinner"></i> pagination/scrolling</li>
              <li>
                <i class="fa fa-spinner"></i>integrating keyboard shortcuts to a
                web app.
              </li>
              <li><i class="fa fa-spinner"></i> design layout</li>
              <li><i class="fa fa-spinner"></i> UI design</li>
              <li>
                <i class="fa fa-spinner"></i> generating excel sheets Project
                Convert JSON Data to Excel File uing XLSX Library,
              </li>
              <li>
                <i class="fa fa-spinner"></i> print screenshot of HTML element
                or a particular section of the webpage
              </li>
            </ul>

            <p>learnt these topics while working on projects-</p>

            <ul class="list-unstyled" style="text-transform: capitalize">
              <li><i class="fa fa-spinner"></i> webpack</li>
              <div class="panel-footer">Using Reactive and Model forms</div>
              <div class="panel-body">using Angular material framework</div>

              <li><i class="fa fa-spinner"></i> interceptors</li>
              <li><i class="fa fa-spinner"></i> lazy loading</li>
              <li><i class="fa fa-spinner"></i> Angular forms</li>
              <li>
                <i class="fa fa-spinner"></i>using different loaders to show
                progress
              </li>
              <li><i class="fa fa-spinner"></i> grid layout</li>
              <li><i class="fa fa-spinner"></i>pipes</li>
              <li><i class="fa fa-spinner"></i> drag and drop elements</li>
              <li><i class="fa fa-spinner"></i> BEM CSS architecture</li>
            </ul>

            <p>
              I have a vision of providing cutting edge web solutions and
              services to enterprises. My experiences range from building
              responsive web sites that work well cross-browser to building
              scalable sites. I have great experience in the software
              development field. I have used tools like postman for testing any
              API & Jira, Trello to make project deliver on time. I have worked
              with developers to design algorithms and flowcharts. Experience
              with software design and development in a test-driven environment.
              Knowledge of coding languages JavaScript) and frameworks/systems
              (e.g. Angular, Git) I have a quality of attention to detail from
              small to big things. I can help in a challenge that anyone facing
              on his business by giving proper web solution that will resolve
              the issue.
            </p>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </section>
      <!--//section-->

      <section class="gallery-block cards-gallery">
        <div class="container">
          <div class="heading">
            <h2>My Projects</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let i of projectList">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [routerLink]="['./pro', i.name]">
                  <img
                    src="../../assets/proimages/{{ i.imageName }}"
                    alt="Card Image"
                    class="card-img-top"
                  />
                </a>
                <div class="card-body">
                  <h6>
                    <a href="#">{{ i.projName }}</a>
                  </h6>
                  <p class="text-muted card-text">{{ i.projDesc }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <hr>
                    <div class="row">
                    <div class="col-md-6 col-lg-4">
                            <div class="card border-0 transform-on-hover">
                                <a class="lightbox" href="../../assets/img/image4.jpg">
                                    <img src="../../assets/img/image4.jpg" alt="Card Image" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h6><a href="#">Lorem Ipsum</a></h6>
                                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
        </div>
      </section>
    </div>
    <!--//primary-->

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading sr-only">Basic Information</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-map-marker"></i
                ><span class="sr-only">Location:</span>Delhi, India
              </li>
              <li>
                <i class="fa fa-envelope-o"></i
                ><span class="sr-only">Email:</span
                ><a href="#">apexmansunny@gmail.com</a>
              </li>
              <!-- <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a></li> -->
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//aside-->

      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Skills & Responsibilities:</h2>
          <div class="content">
            <!-- <p class="intro">
                      I have done work on framework angular 2 +, Knowledge of GitHub and done work on different modules like report generation, admin section, calculations etc.
                                </p> -->
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-spinner"></i> Responsible for gathering the
                requirements and analyzing the dependencies.
              </li>
              <li>
                <i class="fa fa-spinner"></i> Created custom directives,
                components and services in Angular.
              </li>
              <li>
                <i class="fa fa-spinner"></i> Involved in prototyping page
                designs using HTML5 and CSS3.
              </li>
              <li>
                <i class="fa fa-spinner"></i> Used SASS for code minification.
              </li>
              <li>
                <i class="fa fa-spinner"></i> Used router module in the angular
                app for navigating in between pages.
              </li>
            </ul>

            <div class="skillset">
              <div class="item">
                <h3 class="level-title">
                  HTML &amp; CSS<span
                    class="level-label"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-animation="true"
                    title="You can use the tooltip to add more info..."
                  ></span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <div class="item">
                <!-- <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Expert</span></h3> -->
                <h3 class="level-title">
                  Javascript &amp; Typescript<span class="level-label"></span>
                </h3>

                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <div class="item">
                <h3 class="level-title">
                  Angular Framework(2.0,4,6..) <span class="level-label"></span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <div class="item">
                <h3 class="level-title">
                  Github (version Control)<span class="level-label"></span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="85%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <p>
                <a
                  class="more-link"
                  href="https://github.com/sunny7899"
                  target="_blank"
                  ><i class="fa fa-external-link"></i> More on Github</a
                >
              </p>
            </div>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

      <!--//section-->

      <aside class="list music aside section">
        <div class="section-inner">
          <h2 class="heading">My Favourite Quotes</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-headphones"></i> Failure is success if we learn
                from it.
              </li>
              <li>
                <i class="fa fa-headphones"></i> Small steps can bring big
                changes.
              </li>
              <li>
                <i class="fa fa-headphones"></i> Instead of managing your time,
                think of managing your energy or attention.
              </li>
              <li><i class="fa fa-headphones"></i> Believe in yourself</li>
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->
      <aside class="list music aside section">
        <div class="section-inner">
          <h2 class="heading">
            In my free time, I like to share things on these pages / communities
          </h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <a href="https://goo.gl/maps/1Zx8TYSmi312" target="_blank"
                  >I am a Local guide.. Checkout here</a
                >
              </li>
              <li>
                <a href="https://stackblitz.com/@sunny7899" target="_blank"
                  >stackblitz projects link</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/angular_developement/"
                  target="_blank"
                  ><i class="fa fa-instagram"></i>Join my Instagram tech tips
                  page.</a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/learnangular2plus/"
                  target="_blank"
                  ><i class="fa fa-facebook"></i>Like my page to get some good
                  tech info.</a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/groups/694164224125016/"
                  target="_blank"
                  ><i class="fa fa-facebook"></i>Join my angular fb group to
                  discuss tech topics.</a
                >
              </li>
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
    </div>
    <!--//secondary-->
  </div>
  <!--//row-->
</div>
<!--//masonry-->
<!-- <form action="https://formspree.io/apexmansunny@gmail.com" method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
  </form> -->
<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
    <!-- <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com"
                target="_blank">Xiaoying Riley</a> for developers</small> -->
  </div>
  <!--//container-->
</footer>
<!--//footer-->
