<!-- ******HEADER****** -->
<header class="header">
  <div class="container">
    <img
      class="profile-image img-responsive pull-left"
      src="assets/images/about.jpeg"
      alt="James Lee"
      style="width: 180px"
    />

    <div class="profile-content pull-right">
      <!-- <h1 class="name">sunny gupta </h1>
            <h2 class="desc">Front-end Developer</h2> -->

      <h2 class="name">
        incididunt ut labore et dolore ma
      </h2>
      incididunt ut labore et dolore ma incididunt ut labore et dolore ma

      <ul class="social list-inline" style="margin-top: 10px">
        <li>
          <a href="#" target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            ><i class="fa fa-stack-overflow"></i
          ></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><i class="fa fa-medium"></i
          ></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            class="last-item"
            ><i class="fa fa-quora"></i
          ></a>
        </li>
      </ul>
    </div>
    <!--//profile-->
    <!-- <a class="btn btn-cta-primary pull-right" href="#" target="_blank"><i class="fa fa-paper-plane"></i>I
            am also a local guide</a> -->
    <!-- <div class="setfbpage">
            <div>
                <img src="../../assets/insta.png" alt="" class="setsizeimg">
            </div>
            <div>
                <img src="../../assets/angpage.PNG" alt="" class="setsizeimg">

                <div>
                    <div class="fb-share-button" data-href="#" data-layout="button_count">
                    </div>
                    <div class="fb-like" data-href="#" data-layout="standard"
                        data-action="like" data-show-faces="true">
                    </div>
                </div>
            </div>
        </div> -->
  </div>
  <!--//container-->
</header>
<!--//header-->

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>
              vitae. Elementum tempus egestas sed
            </p>

            <p>

            </p>
            <h3>

            </h3>
            <h3>

            </h3>

            <p></p>
            <ul class="list-unstyled" style="text-transform: capitalize">
              <li>
                <i class="fa fa-spinner"></i> porta non pulvinar neque laoreet suspendisse. Iaculis
              </li>

            </ul>

            <p>porta non pulvinar neque laoreet suspendisse. Iaculis </p>

            <ul class="list-unstyled" style="text-transform: capitalize">
              <li><i class="fa fa-spinner"></i> porta non pulvinar neque laoreet suspendisse. Iaculis </li>
              <div class="panel-footer">porta non pulvinar neque laoreet suspendisse. Iaculis </div>
              <div class="panel-body">porta non pulvinar neque laoreet suspendisse. Iaculis </div>

              <li><i class="fa fa-spinner"></i> porta non pulvinar neque laoreet suspendisse. Iaculis </li>

            </ul>

            <p>
              i porta non pulvinar neque laoreet suspendisse. Iaculis urna id volutpat lacus laoreet. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Risus feugiat in ante metus dictum. Justo done
            </p>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </section>
      <!--//section-->

      <section class="gallery-block cards-gallery">
        <div class="container">
          <div class="heading">
            <h2>My Projects</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let i of projectList">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [routerLink]="['./pro', i.name]">
                  <img
                    src="../../assets/proimages/{{ i.imageName }}"
                    alt="Card Image"
                    class="card-img-top"
                  />
                </a>
                <div class="card-body">
                  <h6>
                    <a href="#">{{ i.projName }}</a>
                  </h6>
                  <p class="text-muted card-text">{{ i.projDesc }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <hr>
                    <div class="row">
                    <div class="col-md-6 col-lg-4">
                            <div class="card border-0 transform-on-hover">
                                <a class="lightbox" href="../../assets/img/image4.jpg">
                                    <img src="../../assets/img/image4.jpg" alt="Card Image" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h6><a href="#">Lorem Ipsum</a></h6>
                                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
        </div>
      </section>
    </div>
    <!--//primary-->

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading sr-only">Basic Information</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-map-marker"></i
                ><span class="sr-only">Location:</span>Delhi, India
              </li>
              <li>
                <i class="fa fa-envelope-o"></i
                ><span class="sr-only">Email:</span
                ><a href="#">dssd@gmail.com</a>
              </li>
              <!-- <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a></li> -->
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//aside-->

      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">nt arcu non sodales neque sodales. </h2>
          <div class="content">
            <!-- <p class="intro">
                      I have done work on framework angular 2 +, Knowledge of GitHub and done work on different modules like report generation, admin section, calculations etc.
                                </p> -->
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-spinner"></i> nt arcu non sodales neque sodales. Id eu nisl nunc
              </li>
              <li>
                <i class="fa fa-spinner"></i> nt arcu non sodales neque sodales. Id eu nisl nunc
              </li>
              <li>
                <i class="fa fa-spinner"></i> nt arcu non sodales neque sodales. Id eu nisl nunc
              </li>
              <li>
                <i class="fa fa-spinner"></i> nt arcu non sodales neque sodales. Id eu nisl nunc
              </li>
              <li>
                <i class="fa fa-spinner"></i> nt arcu non sodales neque sodales. Id eu nisl nunc
              </li>
            </ul>

            <div class="skillset">
              <div class="item">
                <h3 class="level-title">
                  HTML &amp; CSS<span
                    class="level-label"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-animation="true"
                    title="You can use the tooltip to add more info..."
                  ></span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <div class="item">
                <!-- <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Expert</span></h3> -->
                <h3 class="level-title">
                  Javascript &amp; Typescript<span class="level-label"></span>
                </h3>

                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <div class="item">
                <h3 class="level-title">
                  Angular Framework(2.0,4,6..) <span class="level-label"></span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <div class="item">
                <h3 class="level-title">
                  Github (version Control)<span class="level-label"></span>
                </h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="85%"></div>
                </div>
                <!--//level-bar-->
              </div>
              <!--//item-->

              <p>
                <a
                  class="more-link"
                  href="#"
                  target="_blank"
                  ><i class="fa fa-external-link"></i> More on Github</a
                >
              </p>
            </div>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

      <!--//section-->

      <aside class="list music aside section">
        <div class="section-inner">
          <h2 class="heading">My Favourite Quotes</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-headphones"></i> Failure is success if we learn
                from it.
              </li>
              <li>
                <i class="fa fa-headphones"></i> Small steps can bring big
                changes.
              </li>
              <li>
                <i class="fa fa-headphones"></i> Instead of managing your time,
                think of managing your energy or attention.
              </li>
              <li><i class="fa fa-headphones"></i> Believe in yourself</li>
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->
      <aside class="list music aside section">
        <div class="section-inner">
          <h2 class="heading">
            retra diam sit amet nisl suscipit adipiscing bibendu
          </h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <a href="" target="_blank"
                  >retra diam sit amet nisl suscipit adipiscing bibendu</a
                >
              </li>
              <li>
                <a href="#" target="_blank"
                  >retra diam sit amet nisl suscipit adipiscing bibendu</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  ><i class="fa fa-instagram"></i>retra diam sit amet nisl suscipit adipiscing bibendu.</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  ><i class="fa fa-facebook"></i>retra diam sit amet nisl suscipit adipiscing bibendu</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  ><i class="fa fa-facebook"></i>retra diam sit amet nisl suscipit adipiscing bibendu</a
                >
              </li>
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
    </div>
    <!--//secondary-->
  </div>
  <!--//row-->
</div>
<!--//masonry-->
<!-- <form action="#" method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
  </form> -->
<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
    <!-- <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com"
                target="_blank">Xiaoying Riley</a> for developers</small> -->
  </div>
  <!--//container-->
</footer>
<!--//footer-->
